/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

body {
    background-color: #F5D890;
    color: #668F8A;
}

/*LAYOUT*/
.app {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #EECDCF;
    border-radius: 10px;
    box-shadow: -10px 0px 13px -7px #7c7071, 10px 0px 13px -7px #7c7071, 0px 50px 7px 5px rgba(0,0,0,0);
}

/*HEADER*/
h1 {
    text-align: center;
    background-color: #dfc1c3;
    border-radius: 10px;
}

/*NEW ITEM INPUT*/
.add-todo {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    padding: 0 15px;
    font-size: 16px;
    background-color: #dfc1c3;
    color: #668F8A;
    box-shadow: 0 15px 10px -16px rgba(124, 112, 113, 1);
    border: 0;
    border-radius: 10px;
    outline: 0;
    transition: background .3s;
}

.add-todo:hover,
.add-todo:focus {
    background-color: #F2DDDF;
}

/*TO DO LIST*/
.todos li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(124, 112, 113, 1);
}

.todos li:last-child {
    border-bottom: 0;
}

.todos li i {
    opacity: .7;
    cursor: pointer;
    transition: opacity .3s;
}

.todos li i:hover {
    opacity: 1;
}